<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheatfield_clouds1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{77,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>wheatfield_clouds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{132,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{132,98}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>wheatfield_clouds3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,136},{104,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>windmill_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{88,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{88,118}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>windmill_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,161}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{139,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>windmill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4915353c209f8c7c6e579ec62476d3fc$</string>
            <key>textureFileName</key>
            <string>windmill.png</string>
        </dict>
    </dict>
</plist>
